
main  {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

blockquote.blockquote:not(:first-child) {
    margin-top: 1.25rem;
    padding-top: 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.footer {
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.top-tags li + li {
    margin-top: 0.5rem;
}

.top-tags .badge{
    font-size: 1rem;
}


.user-from{
    margin: 0;
    padding: 0;
    height: 100vh; /* Занимает 100% высоты экрана */
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
}