{% extends 'quotes_list/base.html' %}
{% load extract_tags %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title m-0">Quotes</h3>
    </div>
    <div class="card-body">
        {% for quote in quotes %}
        <blockquote class="blockquote mb-0">
            <p>{{ quote.quote}}</p>
            <footer class="blockquote-footer">
                <a href="{% url 'quotes_list:author' quote.author.id %}">{{ quote.author.fullname }}</a>
            </footer>
            <div class="mt-2"><small>Tags:</small>
                {% for tag in quote.tags|tags %}
                <a href="?tag={{ tag.name }}" class='badge badge-primary'>{{ tag.name }}</a>
                {% endfor %}
            </div>
        </blockquote>
        {% endfor %}
    </div>
    {% if quotes.paginator.num_pages > 1 %}
    <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination m-0">
                {% if quotes.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ quotes.previous_page_number }}">Previous</a></li>
                {% endif %}
                {% for number in page_range %}
                    {% if number != quotes.number %}
                    <li class="page-item"><a class="page-link" href="?page={{ number }}">{{ number }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link">{{ number }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if quotes.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ quotes.next_page_number }}">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block sidebar %}
<div class="card">
    <div class="card-header">
        <h3 class="card-title m-0">
            Top 10 tags
        </h3>
    </div>
    <div class="card-body">
        <ul class="list-unstyled top-tags">
            {% for tag in tags %}
            <li><a href="?tag={{ tag.name }}" class="badge badge-primary">{{ tag.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}